* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#three-js-container {
  width: 100%;
  height: 100%;
}

#webgl-canvas {
  width: 100% !important;
  height: 100% !important;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid yellow;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-content {
  display: flex;
  align-items: center;
}

.custom-btn {
  background-color: ghostwhite;
  border: 1px solid gray;
  padding: 1.5px 5px 2px 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
